<body bgcolor="#0a2cb3">
<div style ="padding-left:100px; padding-top:50px; padding-bottom:100px;">
<font color="#fff">
<p class="MsoNormal" align="center" style="margin-bottom:0in;margin-bottom:.0001pt;
text-align:center;tab-stops:4.5pt"><b><u><span style="font-size:25.0pt;mso-bidi-font-size:12.0pt;line-height:115%;font-family:
&quot;Times New Roman&quot;,&quot;serif&quot;">FOREX ONLINE TRADING COURSE<o:p></o:p></span></u></b></p><p class="MsoNormal" align="center" style="margin-bottom:0in;margin-bottom:.0001pt;
text-align:center;tab-stops:4.5pt"><b><span style="font-size:20.0pt;mso-bidi-font-size:12.0pt;line-height:115%;font-family:
&quot;Times New Roman&quot;,&quot;serif&quot;">Duration: 1 months<o:p></o:p></span></b></p><p class="MsoNormal"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><o:p>&nbsp;</o:p></span></p><p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><b><span style="font-size:17.0pt;mso-bidi-font-size:
12.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">INTRODUCTION:<o:p></o:p></span></b></p><p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><span style="font-size:15.0pt;mso-bidi-font-size:12.0pt;line-height:115%;font-family:
&quot;Times New Roman&quot;,&quot;serif&quot;">What is FOREX?<o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><span style="font-size:15.0pt;mso-bidi-font-size:12.0pt;line-height:115%;font-family:
&quot;Times New Roman&quot;,&quot;serif&quot;">Background of Forex<o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><span style="font-size:15.0pt;mso-bidi-font-size:12.0pt;line-height:115%;font-family:
&quot;Times New Roman&quot;,&quot;serif&quot;">Petrodollar System<o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><span style="font-size:15.0pt;mso-bidi-font-size:12.0pt;line-height:115%;font-family:
&quot;Times New Roman&quot;,&quot;serif&quot;">Gold Standard<o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><span style="font-size:15.0pt;mso-bidi-font-size:12.0pt;line-height:115%;font-family:
&quot;Times New Roman&quot;,&quot;serif&quot;">Fixed Exchange Rate System<o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><span style="font-size:15.0pt;mso-bidi-font-size:12.0pt;line-height:115%;font-family:
&quot;Times New Roman&quot;,&quot;serif&quot;">Floating Exchange Rate System<o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><b><span style="font-size:15.0pt;mso-bidi-font-size:
12.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><o:p>&nbsp;</o:p></span></b></p><p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><b><span style="font-size:17.0pt;mso-bidi-font-size:
12.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">CURRENCIES:<o:p></o:p></span></b></p><p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><span style="font-size:15.0pt;mso-bidi-font-size:12.0pt;line-height:115%;font-family:
&quot;Times New Roman&quot;,&quot;serif&quot;">ISO Currency Codes<o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><span style="font-size:15.0pt;mso-bidi-font-size:12.0pt;line-height:115%;font-family:
&quot;Times New Roman&quot;,&quot;serif&quot;">Major Currencies<o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><span style="font-size:15.0pt;mso-bidi-font-size:12.0pt;line-height:115%;font-family:
&quot;Times New Roman&quot;,&quot;serif&quot;">Currency Pairs<o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><span style="font-size:15.0pt;mso-bidi-font-size:12.0pt;line-height:115%;font-family:
&quot;Times New Roman&quot;,&quot;serif&quot;">Concept of Buy &amp; Sell<o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><span style="font-size:15.0pt;mso-bidi-font-size:12.0pt;line-height:115%;font-family:
&quot;Times New Roman&quot;,&quot;serif&quot;"><o:p>&nbsp;</o:p></span></p><p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><b><span style="font-size:17.0pt;mso-bidi-font-size:
12.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">PIP:<o:p></o:p></span></b></p><p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><span style="font-size:15.0pt;mso-bidi-font-size:12.0pt;line-height:115%;font-family:
&quot;Times New Roman&quot;,&quot;serif&quot;">What is a Pip?<o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><span style="font-size:15.0pt;mso-bidi-font-size:12.0pt;line-height:115%;font-family:
&quot;Times New Roman&quot;,&quot;serif&quot;">Value of Pip<o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><span style="font-size:15.0pt;mso-bidi-font-size:12.0pt;line-height:115%;font-family:
&quot;Times New Roman&quot;,&quot;serif&quot;">Accounts and Lot sizes <o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><span style="font-size:15.0pt;mso-bidi-font-size:12.0pt;line-height:115%;font-family:
&quot;Times New Roman&quot;,&quot;serif&quot;">Profit &amp; Loss calculation<o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><span style="font-size:12.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><o:p>&nbsp;</o:p></span></p><p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><b><span style="font-size:17.0pt;mso-bidi-font-size:
12.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">FOREX TRADING
SYSTEM:<o:p></o:p></span></b></p><p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><span style="font-size:15.0pt;mso-bidi-font-size:12.0pt;line-height:115%;font-family:
&quot;Times New Roman&quot;,&quot;serif&quot;">Opening Live Account<o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><span style="font-size:15.0pt;mso-bidi-font-size:12.0pt;line-height:115%;font-family:
&quot;Times New Roman&quot;,&quot;serif&quot;">Margin and Leverage<o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><span style="font-size:15.0pt;mso-bidi-font-size:12.0pt;line-height:115%;font-family:
&quot;Times New Roman&quot;,&quot;serif&quot;">ECN vs DD<o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><span style="font-size:15.0pt;mso-bidi-font-size:12.0pt;line-height:115%;font-family:
&quot;Times New Roman&quot;,&quot;serif&quot;">Understanding GMT/ Local Time<o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><span style="font-size:12.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><o:p>&nbsp;</o:p></span></p><p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><b><span style="font-size:17.0pt;mso-bidi-font-size:
12.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">MT4 PLATFORM:<o:p></o:p></span></b></p><p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><span style="font-size:15.0pt;mso-bidi-font-size:12.0pt;line-height:115%;font-family:
&quot;Times New Roman&quot;,&quot;serif&quot;">Market Watch<o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><span style="font-size:15.0pt;mso-bidi-font-size:12.0pt;line-height:115%;font-family:
&quot;Times New Roman&quot;,&quot;serif&quot;">Bid, Ask, Spread, Low &amp; High<o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><span style="font-size:15.0pt;mso-bidi-font-size:12.0pt;line-height:115%;font-family:
&quot;Times New Roman&quot;,&quot;serif&quot;">Terminal<o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><span style="font-size:15.0pt;mso-bidi-font-size:12.0pt;line-height:115%;font-family:
&quot;Times New Roman&quot;,&quot;serif&quot;">Navigator<o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><span style="font-size:15.0pt;mso-bidi-font-size:12.0pt;line-height:115%;font-family:
&quot;Times New Roman&quot;,&quot;serif&quot;">Candlesticks<o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><span style="font-size:15.0pt;mso-bidi-font-size:12.0pt;line-height:115%;font-family:
&quot;Times New Roman&quot;,&quot;serif&quot;">Kinds of Orders<o:p></o:p></span></p><p class="MsoNormal" align="center" style="margin-bottom:0in;margin-bottom:.0001pt;
text-align:center;tab-stops:4.5pt">
</p><p class="MsoNormal"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><o:p>&nbsp;</o:p></span></p>
</div>
</font>
</body>